<!DOCTYPE html>

<html>
  <head>
    <!-- load jquery -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <title>NOMUK:Create Test</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

    <script type="text/javascript" src="/javascripts/createtestjQ.js">
    </script>

  </head>

  <body>
    <h2 >Create Test </h2>
    <div>
      <p>
	Name:<input type="text" name="testname">
      </p>

      <p>
	Desc:<input type="text" name="testdesc">
      </p>

      <p>
	Test Type: 
	<input type="radio" name="testtype" value="gcf">GCF<br/>
	<input type="radio" name="testtype" value="mult">Int_Mult<br/>
	<input type="radio" name="testtype" value="frac_add_2op">Frac_Add<br/>
	<input type="radio" name="testtype" value="percent_of">Percent of<br/>
	<input type="radio" name="testtype" value="frac_reduce">Frac reduce<br/>
	<input type="radio" name="testtype" value="mixed_num">Mixed Num<br/>
	<input type="radio" name="testtype" value="frac_plus_num">Frac + Num<br/>
	<input type="radio" name="testtype" value="frac_to_dec">Frac 2 decimal<br/>
	<input type="radio" name="testtype" value="frac_of">Frac of Num<br/>
	<input type="radio" name="testtype" value="lcm">LCM<br/>
      </p>

      <p>
	Operands:<br>
	low: <input type="text" name="op_lo">
	high:<input type="text" name="op_hi">
      </p>

      <p>
	Number of problems:<input type="text" name="testnum">
      </p>

      <p>
	Correct in a row:<input type="text" name="testcir">
      </p>

      <p>
	<button id="testsave">Test Save</button>
      </p>

      <p id="msg"></p>

    </div>

  </body>

</html>
