<!DOCTYPE html>

<html>
  <head>
    <!-- load jquery -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- load Problem Classes -->
    <script type="text/javascript" src="/javascripts/Class.js"></script>
    <script type="text/javascript" src="/javascripts/nomukLib.js"></script >
    <script type="text/javascript" src="/javascripts/BaseTest.js"></script >
    <script type="text/javascript" src="/javascripts/GCFTest.js"></script >
    <script type="text/javascript" src="/javascripts/MultTest.js"></script >
    <script type="text/javascript" src="/javascripts/FracAddTest.js"></script >
    <script type="text/javascript" src="/javascripts/jk.js"></script>

    <title>Nomuk Mathdrills</title>
    <style type="text/css">
      .label   {text-align: right}
      .error   {color: red}
      .correct {color: green}
      .wrong   {color: red}

      div p,input{
      font-size:30px;
      font-family:Impact sans-serif;
      }

      div ol{
      font-size:20px;
      font-family:Cursive serif;
      }
    </style>
  </head>

  <body>
    <h1 id="main_msg">Nomuk Test</h1>

    <div id="test_table"></div>

    <div id="problem">
      <p>
	<span id="name"> </span> 
	<span id="op0"> </span> 
	<span id="sep0"> </span>
	<span id="op1"> </span> 
	<span id="sep1"> </span>
	<span id="op2"> </span> 
	<span>=</span> 
	<input type="text" id="answer" name="answer"/>
      </p>

      <p id="score" ></p>
      <p id="cir" ></p>
      <p id="my_points" ></p>

      <ol>
      </ol>

    </div>
  </body>

</html>
