<!DOCTYPE html>

<html>
  <head>
    <!-- load jquery -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- load mathtest.js -->
    <script type="text/javascript" src="/javascripts/mathtest.js"> </script>
    <script type="text/javascript" src="/javascripts/getOps.js"> </script >

    <title>Welcome</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
  </head>

  <body>
    <h1 id="welcome_msg"></h1>

    <div id="test_param">
      


    </div>

    <div id="problem">
      <p>
	<span id="name"></span>
	<span id="a"></span>
	<span id="op1"></span>
	<span id="b"></span>
	<span id="op2"></span>
	<span id="c"></span>
	<span>=</span> 
	<input type="text" id="ans"/>
      </p>
      <p id="msg" ></p>
      <ol>
      </ol>
    </div>

  </body>

</html>
