<!DOCTYPE html>

<html>
  <head>
    <!-- load jquery -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- load bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- load Problem Classes -->
    <script type="text/javascript" src="/javascripts/Class.js"></script>
    <script type="text/javascript" src="/javascripts/nomukLib.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/BaseTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/GCFTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/MultTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/FracAddTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/PercentageOfNum.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/FracReduceTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/MixedNumberToFracTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/NumberPlusFracTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/FracToDecimalTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/FractionOfNumberTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/DecimalMultTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/DecimalDivisionTest.js"></script >
    <script type="text/javascript" src="/javascripts/mathtests/LCMTest.js"></script >
    
    <script type="text/javascript" src="/javascripts/mathdrill.js"></script>

    <script type="text/javascript" src="/DataTables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/javascripts/mathtesttable.js"></script>

    <script type="text/javascript" src="/javascripts/onscreen_numpad.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/onscreen_numpad.css"/>

    <script type="text/javascript">
      $( function() {
          $('#test_home').click( function() {
                 window.location = '/';
          });
      });
    </script>

    <title>Nomuk Mathdrills</title>
    <style type="text/css">
      @import "/DataTables/css/jquery.dataTables.css";
      .label   {text-align: right}
      .error   {color: red}
      .correct {color: green}
      .wrong   {color: red}

      .red { color: red}
      .green { color: green }

      #problem p,input{
      font-size:30px;
      font-family:Impact sans-serif;
      }

      #problem ul{
      font-size:20px;
      font-family:Cursive serif;
      }

      #problem {
      float:left;
      display:inline;
      width:50%;
      margin:1% 1% 1% 1% ;
      }

      #onscreen_numpad {
      float:left;
      display:inline ;
      }

    </style>
  </head>

  <body>
    <h1 id="main_msg">Nomuk Test</h1>
    <span id="testid" style="display:none;">{{testid}}</span>

    <div id="test_table_div">
      <p style="font-size:20px;font-family:Impact sans-serif;">
	Name:<span id="name"></span>, Points:<span id="tpoints"></span>, Score:<span id="tscore"></span>
      </p>
      <table id="test_table"></table>
    </div>

    <div id="problem">
      <button id="test_home">Test Home</button>

      <p>
	<span id="instructions"></span> 
      </p>

      <p>
	<span id="op0"> </span> 
	<span id="sep0"> </span>
	<span id="op1"> </span> 
	<span id="sep1"> </span>
	<span id="op2"> </span> 
	<span>=</span> 
	<input type="text" id="answer" name="answer" autocomplete="off"/>
      </p>

      <p id="score" ></p>
      <p id="cir" ></p>
      <p id="my_points" ></p>
      <p id="count"></p>

      <ul>
      </ul>
    </div>

    <div id="onscreen_numpad" class="main_panel">
      <div class="number_button" id="pad_1" >1</div>
      <div class="number_button" id="pad_2" >2</div>
      <div class="number_button" id="pad_3" >3</div>
      <div class="number_button" id="pad_clear" >Clr</div>
      
      <div class="number_button" id="pad_4">4</div>
      <div class="number_button" id="pad_5">5</div>
      <div class="number_button" id="pad_6">6</div>
      <div class="number_button" id="pad_c">C</div>
      
      <div class="number_button" id="pad_7">7</div>
      <div class="number_button" id="pad_8">8</div>
      <div class="number_button" id="pad_9">9</div>
      <div class="number_button" id="pad_slash">/</div>
      
      <div class="number_button" id="pad_0">0</div>
      <div class="number_button" id="pad_dp">.</div>
      <div class="enter_button"  id="pad_enter" >Enter</div>
    </div>
    
    <div id='end_test'>
      <h2 id='end_test_msg'></h2>
      <button id='end_test_button'>Back to Test Home</button>
    </div>

  </body>
</html>


<!DOCTYPE html>

<html>
 <head>
  <title>On Screen Number Pad Using JavaScript</title>

 </head>


